@charset "UTF-8";


:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}



svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Código */
.header{
  width:100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  color:white;
  position: fixed;
  transition: background-color 0.5s ease;

}

header:hover {
    background-color: #1C2331;
}



.logo{
    align-items: center;
    display: flex;
}

.h1LogoImagen1{
    display: none;

}



.header .button{
  /* background-color: crimson; */
  display: none;
}
.header .svg{
  width:2em;
  height:2em;
  fill:white;
}

.header .ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  
}
.header .li{
  margin: 0 .5em;
}

.caratula{
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondo.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloCentral{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
   
}

.tituloSecundario{
    text-align: center;
    font-size: 20px;
    color: white;
   
}

.tituloTerciario{
    text-align: left;
    font-size: 30px;
    color: black;
    
   
}

.parrafo{
    text-align: justify;
    font-size: 20px;
    color: black;
    max-width: 700px
    
}



.parrafo2{
    text-align: justify;
    font-size: 20px;
    color: black;
   max-width: 1400px;
   
}




.botonCentral{
    font-size: 20px;
    color: white;
    padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
    border: 2px solid white; /* Grosor, estilo y color del borde */
    border-radius: 0; /* Asegura que no haya redondeo en las esquinas */
    background-color: transparent; /* Fondo transparente para mostrar el borde */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    outline: none; /* Elimina el contorno predeterminado al hacer clic */
  
}
.inputBusqueda{
  font-size: 20px;
  color: white;
  padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
  border: 2px solid white; /* Grosor, estilo y color del borde */
  border-radius: 0; /* Asegura que no haya redondeo en las esquinas */
  background-color: transparent; /* Fondo transparente para mostrar el borde */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  outline: none; /* Elimina el contorno predeterminado al hacer clic */
  width: 650px;

}

.inputBusqueda::placeholder {
  color: white; /* Color del marcador de posición */
}

.footer{
   background-color:#1C2331;  
   padding: 10px;

}

.apartado1{
    height: 100vh;   

    background-color: white;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.col2{
    text-align: left;
    width: 50%;
    margin: 0 10px;
    flex: 1;
}

.col2im{
    width: 50%;
    justify-content:right;
    display: flex;
    margin: 0 10px;
    flex: 1;
}
.imagen{
    
    width: 700px;
}

.col1{
    text-align: center;
    max-width: 1400px;
    margin: 0 10px;
    flex: 1;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.box{   /*Parte de los cuadrados*/
    background-color:#1C2331;
    margin: 1rem;   /*lo separo para que este por separado la parte de cuadrado*/
    height: 16rem;/*Altura del cuadrado*/
    width: 14rem; /*Ancho del cuadrado*/
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}


.box h3{
    font-size: 20px;
    color: white;
    margin: 2px;
}

.box i{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    color: aliceblue;
    
    font-size: 1rem;
    margin: 18px 6rem;
    height: 10%;

}

.box p{
    margin: 10px;
    font-size: 15px;
    height: 26.7%;

}


.box a{
    font-size: 12px;
    margin: 60px;
    margin-top: 4px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 12px;
    color: aliceblue;
    text-decoration: none;
    background-color: transparent;
    height: 26.7%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  
 
}

.box1{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece la altura de la caja al 100% del viewport height */

   
    padding: 0;
    margin: 0;
    border: 1px solid white;
    height: 20%;
   
   
  
}


.box2{
    height: 80%;
    padding: 0;
    margin: 0;
  
}


.footer-content {
    background-color: rgb(41, 38, 38);
    display: flex; /* Establece el contenedor como flexbox */
    justify-content:center; /* Distribuye uniformemente los elementos a lo largo del contenedor */
 
}

.link {
    margin-right: 100px; /* Añade un margen derecho entre cada elemento */
    margin-left: 70px;
    margin-top: 15px;
    padding-left: 35px;
    padding-right: 30px;
    font-size: 18px;

}

.link h3{
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2px;
    text-align: center;
    font-size: 22px;
    text-decoration:underline;
}
.link ul{
    color: white;
    list-style-type: none;
            padding-left: 0;
}


.rowFooter {


  
    flex-wrap: wrap;
   

    display: flex;
    
  
    align-items: center;
    margin-top: 50px;

  
    justify-content: space-around;
    align-items: flex-start;
}


@media screen and (max-width:735px){
  .inputBusqueda{

    width: 90%;
  }
  

    .link {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }


    .rowFooter {

        flex-wrap: wrap;
        display: flex;
        align-items: center;
        margin-top: 50px;
        
    }

    

    .parrafo2{
        
        text-align: justify;
      
        max-width: 700px
    }
    .parrafo{
        
        text-align: justify;
      
    }

    
    .row {
        flex-direction: column; /* Colocar los elementos uno debajo del otro */
        align-items: center; /* Centrar los elementos verticalmente */
        margin-top: 30px;
       
    }
    .col2 {
        margin: 20px 0; /* Espacio entre los elementos */
        width: 80%; /* Cambia el ancho a 100% para ocupar toda la fila */
    }

    .col1 {
        margin: 20px 0; /* Espacio entre los elementos */
        width: 80%; /* Cambia el ancho a 100% para ocupar toda la fila */
    }

    .col2im {
        width: 80%; /* Cambia el ancho a 100% para ocupar toda la fila */
    }
    .header{
        background-color: #1C2331;
    }
   
   
  .header .button{
    display: block;
    cursor: pointer;
  }
  .header .nav{
    width:100%;
    /* display: none; */
    height:0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
  }
  .header .nav.activo{
    /* display: block; */
    height:50vh;
    pointer-events: auto;
  }
  .header .ul{
    flex-direction: column;
  }
  .header .li{
    margin: 1rem 0;
  }

  .h1LogoImagen1{
    display: flex;

    }

    .h1LogoImagen2{
        display: none;
    }

}




.ytframe {
  background: #1f1f1f;
  padding-bottom: 15px;
}





/*PARA LA PARTE DE FORMULARIO*/


.footer-bg{
  background-image:url(img/ImagenForm.jpg) ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 96.1vh;   /*ESTO SIRVE MAS QUE NADA PARA ESCRIBIR ENCIMA DE LA IMAGEN*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer-bg-2{
  background-image:url(img/ImagenForm.jpg) ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 96.1vh;   /*ESTO SIRVE MAS QUE NADA PARA ESCRIBIR ENCIMA DE LA IMAGEN*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}




form{/*Etiqueta*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo-1{
  margin-bottom: 15px;
}

.campo{
  margin: 5px;
  padding: 20px 12px;/*Poniendo el la altura y ancho*/
  width: 250px;
  background: rgb(125, 195, 204);
  border: 1px solid #4b75e7;
  outline: none;
  border-radius: 10px;
  color: beige;
  font-size: 14px;
}

.footer-bg h2{
  padding-top: 4%;
  padding-bottom: 3%;
  font-size: 40px;
  text-transform: uppercase;
  color:white ;
  font-family:fantasy;
}

.btn9{
  font-size: 15px;
  margin: 36px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 12px; 
  color: white;
  text-decoration: none;
  background: rgb(8, 91, 105);
}




/*NUESTROS DOCUMENTO O CURSOS*/

.container-cursos{
  padding: 100px 0;/*Aca de otra manera estoy declarando la altura con padding (inferior y superiro diciedo que sera de 100px osea toda mi clase , es decir hasta donde termine mi clase general se termina mi altura)*/
  text-align: center;
  background:#1f1f1f;
}

.curso-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}


.curso-txt h2{
  color:rgb(157, 166, 185);
  font-size: 35px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family:fantasy;
}

.curso-txt p{
  color: white;
  margin-top: 18px;
  margin-bottom: 40px;
  font-size: 19px;
}


/*PRIMERA parte de las FILAS DE IMAGENES*/

.curso-group1{
  display: flex;
  justify-content: space-between;/*El display junto con el justify (Estan poniendo a la imagen en fila(Horizontal) )*/
  margin-bottom: 48px;
}

.curso1-1{
  text-align: center;
}

.curso1-1 img{
  width: 200px;   /*EN LAS IMAGEN ESTABLECEMOS EL ANCHO*/
  height: 195px;  /*EN LAS IMAGEN ESTABLECEMOS LA ALTURA */
  border-radius: 15px;
  margin-bottom: 25px;
}

.curso1-1 h3{
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(157, 166, 185);
}

.curso1-1 p{
  padding: 0 50px;
  margin-bottom: 40px;
  color: white;
}

.curso1-1 a{
  
  font-size: 15px;
  margin: 36px;
  margin-top: 30px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 12px; 
  color: white;
  text-decoration: none;
  background: rgb(74, 132, 158);
  
}




/*SEGUNDA parte de las FILAS DE IMAGENES*/

.curso-group2{
  display: flex;
  justify-content: space-between;/*El display junto con el justify (Estan poniendo a la imagen en fila(Horizontal) )*/
  margin-bottom: 48px;
}

.curso2-2{
  text-align: center;
}

.curso2-2 img{
  width: 200px;   /*EN LAS IMAGEN ESTABLECEMOS EL ANCHO*/
  height: 195px;  /*EN LAS IMAGEN ESTABLECEMOS LA ALTURA */
  border-radius: 15px;
  margin-bottom: 25px;
}

.curso2-2 h3{
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(157, 166, 185);
}

.curso2-2 p{
  padding: 0 50px;
  margin-bottom: 40px;
  color: white;
}

.curso2-2 a{
  
  font-size: 15px;
  margin: 36px;
  margin-top: 30px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 12px; 
  color: white;
  text-decoration: none;
  background: rgb(74, 132, 158);
  
}



/*TERCERA parte de las FILAS DE IMAGENES*/

.curso-group3{
  display: flex;
  justify-content: space-between;/*El display junto con el justify (Estan poniendo a la imagen en fila(Horizontal) )*/
  margin-bottom: 48px;
}

.curso3-3{
  text-align: center;
}

.curso3-3 img{
  width: 200px;   /*EN LAS IMAGEN ESTABLECEMOS EL ANCHO*/
  height: 195px;  /*EN LAS IMAGEN ESTABLECEMOS LA ALTURA */
  border-radius: 15px;
  margin-bottom: 25px;
}

.curso3-3 h3{
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(157, 166, 185);
}

.curso3-3 p{
  padding: 0 50px;
  margin-bottom: 40px;
  color: white;
}

.curso3-3 a{
  
  font-size: 15px;
  margin: 36px;
  margin-top: 30px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 12px; 
  color: white;
  text-decoration: none;
  background: rgb(74, 132, 158);
  
}



.multilinea {
  padding: 50px;
  margin: 50px;
  
}

/*CUARTA parte de las FILAS DE IMAGENES*/

.curso-group4{
  display: flex;
  justify-content: space-between;/*El display junto con el justify (Estan poniendo a la imagen en fila(Horizontal) )*/
  margin-bottom: 48px;
}

.curso4-4{
  text-align: center;
}

.curso4-4 img{
  width: 200px;   /*EN LAS IMAGEN ESTABLECEMOS EL ANCHO*/
  height: 195px;  /*EN LAS IMAGEN ESTABLECEMOS LA ALTURA */
  border-radius: 15px;
  margin-bottom: 25px;
}

.curso4-4 h3{
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(157, 166, 185);
}

.curso4-4 p{
  padding: 0 50px;
  margin-bottom: 40px;
  color: white;
}

.curso4-4 a{
  
  font-size: 15px;
  margin: 36px;
  margin-top: 30px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 12px; 
  color: white;
  text-decoration: none;
  background: rgb(74, 132, 158);
}


/*TABLAS EN GENERAL*/


table{
  margin: 33px 0;
  width: 100%;
  text-align: left;       /*Centramoso y esas cosas*/
  border-collapse: collapse;
}

tr{
  display: flex;
  justify-content: space-between;/*Primero a la isquierda lo demas a la derecha*/
  border-bottom: 1px solid black;/*Parte de las lineas de la tabla */
  margin-bottom: 8px;
}

th{
  color: black;
  padding-bottom: 12px;
}

td{
  color:black;
}



